### Extracting ZIP Code Prefixes & Matching with VINs

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("merged_all_years.csv")
df.head()

,vin,zipcode,odometer,test_date,make,model,my,purchase_date
0,WBAEV33452KL68783,606551055.0,125000,6/1/2020,BMW,3 Series,2002,5/1/2021
1,1GBFG15R6Y1100200,606321626.0,206000,6/1/2020,CHEV,Express Cargo,2000,5/21/2017
2,1GCDT136548185796,605011310.0,109000,6/1/2020,CHEV,Colorado,2004,6/18/2013
3,2GKALMEK0C6364495,604534400.0,80000,6/1/2020,GMC,Terrain,2012,4/26/2018
4,1HGCG1652YA094701,604591106.0,167000,6/1/2020,HOND,Accord,2000,7/19/2014

In [3]:
df.shape

(8345437, 8)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8345437 entries, 0 to 8345436
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   vin            object
 1   zipcode        float64
 2   odometer       int64
 3   test_date      object
 4   make           object
 5   model          object
 6   my             int64
 7   purchase_date  object
dtypes: float64(1), int64(2), object(5)
memory usage: 509.4+ MB

In [5]:
df.describe()

            zipcode      odometer            my
count  8.338819e+06  8.345437e+06  8.345437e+06
mean   6.046699e+08  1.010332e+05  2.011365e+03
std    6.046076e+06  6.211243e+04  5.478820e+00
min    6.014800e+04  0.000000e+00  1.993000e+03
25%    6.012075e+08  5.500000e+04  2.007000e+03
50%    6.045196e+08  9.200000e+04  2.012000e+03
75%    6.062326e+08  1.400000e+05  2.016000e+03
max    9.970136e+08  9.990000e+05  2.025000e+03

In [6]:
df.isnull().sum()

vin                 0
zipcode          6618
odometer            0
test_date           0
make                2
model             386
my                  0
purchase_date    6633
dtype: int64

In [7]:
df = df.dropna()

In [8]:
df.isnull().sum()

vin              0
zipcode          0
odometer         0
test_date        0
make             0
model            0
my               0
purchase_date    0
dtype: int64

In [9]:
df['zipcode'] = df['zipcode'].astype(str).str[:5]

In [10]:
df.head()

,vin,zipcode,odometer,test_date,make,model,my,purchase_date
0,WBAEV33452KL68783,60655,125000,6/1/2020,BMW,3 Series,2002,5/1/2021
1,1GBFG15R6Y1100200,60632,206000,6/1/2020,CHEV,Express Cargo,2000,5/21/2017
2,1GCDT136548185796,60501,109000,6/1/2020,CHEV,Colorado,2004,6/18/2013
3,2GKALMEK0C6364495,60453,80000,6/1/2020,GMC,Terrain,2012,4/26/2018
4,1HGCG1652YA094701,60459,167000,6/1/2020,HOND,Accord,2000,7/19/2014

In [11]:
df_subset = df[['vin', 'zipcode']]
print(df_subset.head())

                 vin zipcode
0  WBAEV33452KL68783   60655
1  1GBFG15R6Y1100200   60632
2  1GCDT136548185796   60501
3  2GKALMEK0C6364495   60453
4  1HGCG1652YA094701   60459

In [13]:
df.to_csv("Extracting ZIP Code Prefixes & Matching with VINs.csv", index=False)